@using Nop.Web.Framework;
@using Nop.Plugin.Payments.WeixinPay.Models;
@model ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}


@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="PaymentWeixinPay" asp-action="Configure" mothod="post">
   
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="TenPayV3_MchId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TenPayV3_MchId" />
                        <span asp-validation-for="TenPayV3_MchId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                       <nop-label asp-for="TenPayV3_Key" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TenPayV3_Key" />
                        <span asp-validation-for="TenPayV3_Key"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="TenPayV3_AppId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TenPayV3_AppId" />
                        <span asp-validation-for="TenPayV3_AppId" ></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="TenPayV3_AppSecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TenPayV3_AppSecret" />
                        <span asp-validation-for="TenPayV3_AppSecret"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="TenPayV3_TenpayNotify" />
                    </div>
                    <div class="col-md-9">
                       <nop-editor asp-for="TenPayV3_TenpayNotify" />
                       <span asp-validation-for="TenPayV3_TenpayNotify"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                       <nop-label asp-for="TenPayV3_CertPath" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TenPayV3_CertPath" />
                        <span asp-validation-for="TenPayV3_CertPath"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                       <nop-label asp-for="TenPayV3_CertPassword" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TenPayV3_CertPassword" />
                        <span asp-validation-for="TenPayV3_CertPassword"></span>
                    </div>
                </div>


               
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="AdditionalFee" />
                    </div>
                    <div class="col-md-9">
                       <nop-editor asp-for="AdditionalFee" />
                       <span asp-validation-for="AdditionalFee"></span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>