@using Nop.Core.Domain.Orders
@model Nop.Core.Domain.Orders.Order
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

}
    <div>
        <h1>订单：@Model.Id.ToString()</h1>
       @* <p>总价：@Model.OrderTotal.ToString()   @Model.CustomerCurrencyCode</p> *@
        <p>
            使用微信“扫一扫”下方二维码完成支付：<br />
            <img src="@Url.Action("ProductPayCode",new{orderId=Model.Id})" width="300" />
        </p>
    </div>

<script type="text/javascript">



    $(document).ready(function () {

        setInterval(function () {

            var postData = {
                orderId: @Model.Id
                };

            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: '@Url.Action("OrderQuery","PaymentWeixinPay")',
                data: postData,
                dataType: 'json',
                success: function (data) {
                    if (data.message == "SUCCESS")
                        window.location.href = "/orderdetails/"+@Model.Id;
                },
                error: function (xhr, ajaxOptions, thrownError) {

                }

            });

        }, 10000);
      

       
    
        setTimeout(function () {

            window.location.href = "/";

        }, 120000);

    });

</script>



