@model AiBookModelListView

@using Nop.Web.Areas.Admin.Models.AiBook
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@foreach (var item in Model.Data.ToList())
{
    string url = string.Format("http://www.73data.cn/EduProject/TemplateShow_v0.2.php?id={0}", item.Id);

    <a href="@url" style="margin:1em;border:1px solid #eee;padding-top:0.2em;padding-bottom:0.2em">@item.Name</a>
}